@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  overflow-x: hidden;
}
body {
  background: #e5e5e5 !important;
}

ul {
  list-style-type: symbols();
  margin: 0;
  padding: 0;
}

li.list-bottom {
  height: 0.01px !important;
}

.side-panel::-webkit-scrollbar,
.body-chat::-webkit-scrollbar,
.side-panel-mobile::-webkit-scrollbar {
  width: 3px;
}

.side-panel::-webkit-scrollbar-track,
.body-chat::-webkit-scrollbar-track,
.side-panel-mobile::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.side-panel::-webkit-scrollbar-thumb,
.body-chat::-webkit-scrollbar-thumb,
.side-panel-mobile::-webkit-scrollbar-thumb {
  background-color: #7e98df;
  outline: 1px solid slategrey;
}

.side-panel {
  background: #fafafa;
  height: 100vh;
  overflow: auto;
  padding: 0px;
}

.footer-chat {
  background: white;
  width: 100vw;
}

.wrapper-search > .input,
.footer-chat > .input {
  background: #f1f1f1;
  border-radius: 15px;
  padding: 15px 0px;
  padding-left: 15px;
}

.plus-icon {
  padding: 15px;
}

input#search,
input#message {
  border: none;
  background: none;
  outline: none;
  padding-left: 30px;
  width: 210px;
}

input#message {
  align-self: center;
  width: 65vw;
}

.sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #232323;
}

.divider-area hr {
  width: 100px;
  margin: 10px;
}

hr {
  width: 90%;
  margin: 0px auto;
}

.divider-area span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #848484;
}

input#password {
  font-size: 20px;
  letter-spacing: 5px;
}

.card-auth {
  width: 500px;
  min-height: 600px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 20px 20px rgba(126, 152, 223, 0.05);
  border-radius: 30px;
  margin: 6vh auto;
  position: relative;
}

.card-auth button {
  border: none;
  background: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  outline: none;
}

.card-auth input {
  width: 360px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #232323;
}

.btn-main button {
  width: 360px;
  height: 60px;
  background: #7e98df;
  border-radius: 70px;
  cursor: pointer;
}

.btn-main-2 {
  width: 360px;
  height: 60px;
  border: 1px solid #7e98df;
  border-radius: 70px;
  cursor: pointer;
  text-align: center;
  color: #7e98df;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 65px !important;
}

.btn-main-2.update {
  width: 100px;
  height: 50px;
}

.btn-main-2 img {
  padding: 10px;
}

.btn-main button {
  color: white;
}

.title-input {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #848484;
  opacity: 0.75;
}

.input {
  position: relative;
}

.icon-eye {
  position: absolute;
  left: 335px;
}

.wrapper-title {
  margin: 0px auto;
}

.wrapper-title .title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #7e98df;
}

.wrapper-title .btn-back {
  position: absolute;
  left: 70px;
  cursor: pointer;
}

.forgot-access {
  position: relative;
}

.forgot-access span {
  position: absolute;
  right: 80px;
  color: #7e98df;
  cursor: pointer;
}

.register-access p {
  text-align: center;
  color: black;
}

.register-access span {
  color: #7e98df;
  cursor: pointer;
}

.profile-picture img,
.card-chat img,
.body-chat img {
  object-fit: cover;
  border-radius: 30px;
}

.card-chat img {
  border-radius: 20px;
}

.card-chat {
  cursor: pointer;
}

.card-chat:hover {
  box-shadow: 0px 20px 20px rgba(126, 152, 223, 0.05);
  border-radius: 10px;
}

.header .title {
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #7e98df;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #232323;
}

.menu,
.bookmark,
.read,
.delete,
.icon-profile {
  cursor: pointer;
}

.menu .active {
  padding: 0px 30px;
  background: #7e98df;
  border-radius: 20px;
  color: white;
}

.time {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #848484;
}

.status-card .unread {
  background: #7e98df;
  border-radius: 30px;
  padding: 0px 5px;
  font-weight: lighter;
  color: white;
  width: fit-content;
}

.menu-window {
  background: #7e98df;
  border-radius: 20px;
}

.profile-username {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #848484;
}

.optional-card {
  background: #7e98df;
  padding: 20px 60px;
}

.text-chat {
  display: inline-block;
  max-width: 165px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.ReactModal__Content {
  background: #7e98df !important;
  color: white !important;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-top-left-radius: 30px !important;
  border-top-right-radius: 10px !important;
}

.ReactModal__Overlay {
  background: transparent !important;
}

.picture-chat img {
  border-radius: 20px;
  object-fit: cover;
}

.header-chat {
  background: white;
}

.chat-sender div {
  background: white;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: black;
  height: fit-content;
}

.chat-receiver div {
  background: #7e98df;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  height: fit-content;
}

.chat-receiver img,
.chat-sender img {
  border-radius: 20px;
}

.body-chat {
  overflow: auto;
  height: 70vh;
}

.null-chat {
  left: 37%;
}

.back-btn {
  display: none;
}

.side-panel {
  display: block !important;
  overflow-x: hidden;
}

.title {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #232323;
}

.tap {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.17px;
  color: #848484;
  cursor: pointer;
}

.text-black input {
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 19px;
  border: none;
  color: #232323;
  background: transparent;
  outline: none;
}

.text-black.name input {
  font-size: 18px;
}

.time-msg {
  background: none !important;
  color: #232323 !important;
}

@media screen and (max-width: 800px) {
  .side-panel-mobile {
    position: absolute;
    background: white;
    height: 100vh;
    z-index: 1;
    overflow-y: auto;
    width: 350px;
    box-shadow: 13px 10px 20px 5px rgb(79 82 88 / 15%);
  }
  .body-chat {
    margin-left: 10px;
    margin-right: 10px;
  }
  .col-9.position-relative {
    width: 100%;
    height: 100vh;
    padding: 0px !important;
    margin: 0px !important;
  }
  .input {
    width: 90vw !important;
  }
  .footer-chat {
    width: 100%;
  }
  .profile-mini {
    display: none !important;
  }
  .back-btn {
    display: block;
  }
  .ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 2 !important;
    left: 110px !important;
  }
}
